@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

body, html{
    font-family: 'Montserrat', sans-serif;
    
    background: rgb(35, 39, 42);
    background: linear-gradient(135deg, rgb(35, 39, 42) 0%, rgb(35, 39, 42) 100%);

    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;

    color: #4eecde;
}

h1 span{
    display: inline-flex;
  }
  

.center{
    text-align: center;
}

.StudioName{
    font-size: 50px;
    color: #4eecde;
}
.heroimg {

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    font-size: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

svg{
    border-radius: 50%;
    transform:scale(1);
    background-color: white;
    border: 2px solid white;
}

svg:hover{
    transform: scale(1.1);
}

.here{
    color: #4eecde;
}

.here:hover{
    color: white;
}

.ToAboutMeA{
    color: #4eecde;
}
.ToAboutMeA:hover{
    font-size: 35.5px;
    text-decoration: none;
    color: white;
}

.ToIcon:hover{
    transform: scale(1.1);
    opacity: 0.5;
}

.AboutUs{
    color: white;
}

.AUtitle{
    text-align: center;
    padding: 25px;
    font-size: 50px;
    color: #4eecde;
}

.AUarticle{
    text-align: center;
    font-size: 25px;
}

.SupportA{
    color: white;
}
.SupportA:hover{
    opacity: 0.5;
}

.ba{
    color: white;
}


table{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.OurProjects{
    color: white;
}

.OrderYourBot{
    margin: 25px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.OrderB{
    width: 600px;
    height: 75px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    font-size: 30px;
    background-color: #29abe0;
}

.OrderB:hover{
    transform: scale(1.05);
}

.BreakLine{
    height: 2px;
    width: 30%;
    color: white;
    border-radius: 50px;
}

.footer{
  width: 100%;
  display: inline-block;
  height: 5%;
  color: white;
  text-align: center;
  font-size: 25px;
}

.Coffee{
    width: fit-content;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.Coffee:hover{
    transform: scale(1.1);
}

a:hover{
    color: white;
  }